﻿@model ConnectCareApp.Models.Entity.ConnectCarePaymentData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


    <div class="col-md-12 mb-4">

        <div class="card">
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <div class="card text-white bg-primary mb-3" style="">
                            <div class="card-header text-center">Create Payments</div>

                        </div>
                        <hr />
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Paymentid" class="control-label"></label>
                                <input asp-for="Paymentid" class="form-control" />
                                <span asp-validation-for="Paymentid" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SponsorId" class="control-label"></label>
                                <input asp-for="SponsorId" class="form-control" />
                                <span asp-validation-for="SponsorId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SponsorIdstring" class="control-label"></label>
                                <input asp-for="SponsorIdstring" class="form-control" />
                                <span asp-validation-for="SponsorIdstring" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BeneficiaryId" class="control-label"></label>
                                <input asp-for="BeneficiaryId" class="form-control" />
                                <span asp-validation-for="BeneficiaryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Policyid" class="control-label"></label>
                                <input asp-for="Policyid" class="form-control" />
                                <span asp-validation-for="Policyid" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amountpaid" class="control-label"></label>
                                <input asp-for="Amountpaid" class="form-control" />
                                <span asp-validation-for="Amountpaid" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Planpurchased" class="control-label"></label>
                                <input asp-for="Planpurchased" class="form-control" />
                                <span asp-validation-for="Planpurchased" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Addon" class="control-label"></label>
                                <input asp-for="Addon" class="form-control" />
                                <span asp-validation-for="Addon" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PaymentDate" class="control-label"></label>
                                <input asp-for="PaymentDate" class="form-control" />
                                <span asp-validation-for="PaymentDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Guid" class="control-label"></label>
                                <input asp-for="Guid" class="form-control" />
                                <span asp-validation-for="Guid" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreatedOn" class="control-label"></label>
                                <input asp-for="CreatedOn" class="form-control" />
                                <span asp-validation-for="CreatedOn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UpdatedOn" class="control-label"></label>
                                <input asp-for="UpdatedOn" class="form-control" />
                                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IsDeleted" class="control-label"></label>
                                <input asp-for="IsDeleted" class="form-control" />
                                <span asp-validation-for="IsDeleted" class="text-danger"></span>
                            </div>
                          
                            <div class="form-group">
                                <label asp-for="ConnectCareBeneficiaryId" class="control-label"></label>
                                <select asp-for="ConnectCareBeneficiaryId" class="form-control" asp-items="ViewBag.ConnectCareBeneficiaryId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConnectCareSponsorId" class="control-label"></label>
                                <select asp-for="ConnectCareSponsorId" class="form-control" asp-items="ViewBag.ConnectCareSponsorId"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
