﻿@model ConnectCareApp.Models.Entity.ConnectCarePaymentData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConnectCarePaymentData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paymentid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paymentid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SponsorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SponsorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SponsorIdstring)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SponsorIdstring)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Policyid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Policyid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amountpaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amountpaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planpurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planpurchased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Addon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Addon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.ConnectCareSponsor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConnectCareSponsor.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConnectCareBeneficiary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConnectCareBeneficiary.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
