﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}




<!-- Table with panel -->
<!--/Card image-->
    <div class="col-md-12">
        <div class="card text-white bg-primary mb-3" style="">
            <div class="card-header text-center"> List of Payments</div>

        </div>
        <br />
       
        <table id="enrolleeTable" class="table table-bordered display table-responsive">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Paymentid</th>
                    <th>SponsorId</th>
                    <th>SponsorIdstring</th>
                    <th>BeneficiaryId</th>
                    <th>Policyid</th>
                    <th>Amountpaid</th>
                    <th>Planpurchased</th>
                    <th>Addon</th>
                    <th>PaymentDate</th>
                    <th>Guid</th>
                    <th>CreatedOn</th>
                    <th>UpdatedOn</th>
                    <th>IsDeleted</th>


                </tr>
            </thead>

        </table>
        <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
        @section Scripts{

            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function () {

                    $("#enrolleeTable").DataTable({
                        ajax: {
                            "url": "/api/ConnectCarePaymentDatas",
                            "type": "GET",
                            "datatype": "json"
                        },
                        "columns": [
                            { "data": "id" },
                            { "data": "parentid" },
                            { "data": "parentrelationship" },
                            { "data": "policynumber" },
                            { "data": "title" },
                            { "data": "surname" },
                            { "data": "othernames" },
                            { "data": "dob" },
                            { "data": "age" },
                            { "data": "maritalstatus" },
                        ]

                    });

                });</script>

        }
    </div>









