﻿<!--Grid column-->
<div class="col-md-12 mb-4">

    <!--Card-->
    <div class="card">

        <!--Card content-->
        <div class="card-body">



            <!--Card image-->
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body card-body-cascade text-center">

                <canvas id="pieChart" height="100px"></canvas>

            </div>
            <!--/.Card content-->




        </div>

    </div>
    <!--/.Card-->

</div>
@section Scripts{
<!-- Charts -->
<script>
    // Line
    //pie
    var ctxP = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
        type: 'pie',
        data: {
            labels: ["Sponsor", "Beneficiary", "Paymentdata",],
            datasets: [{
                data: [300, 200, 150],
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"]
            }]
        },
        options: {
            responsive: true
        }
    });

</script>

}


