﻿@model ConnectCareApp.Models.Entity.Support

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="col-md-12 mb-4">

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-8 offset-2">
                    <div class="card text-white bg-primary mb-3" style="">
                        <div class="card-header text-center">Contact Support</div>

                    </div>
                    <p align="center">
                        <br />
                        Kindly fill and submit the contact form below to contact us. <br />
                        You can also call our Call Centre Agent on 09090404387, 09090404388 or 09090404389 <br />

                    </p>
                    <hr />
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <input type="hidden" asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Subject" class="control-label"></label>
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea class="form-control" asp-for="Content" rows="7"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        <div class="form-group">

                            <input type="hidden" asp-for="Status" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input type="hidden" asp-for="ReplyBy" class="form-control" />
                            <span asp-validation-for="ReplyBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input type="hidden" asp-for="CreatedOn" class="form-control" />
                            <span asp-validation-for="CreatedOn" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input type="hidden" asp-for="UpdatedOn" class="form-control" />
                            <span asp-validation-for="UpdatedOn" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
