﻿@model ConnectCareApp.ViewModel.SponsorCreateVm
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


    <div class="col-md-12 mb-4">
        @{
            var user = await UserManager.GetUserAsync(User);
        }

        @if (SignInManager.IsSignedIn(User))
        {
            <h4 align="center"><b>@user.FirstName</b>, Welcome to Connect-Care Novo App.</h4>
            <p align="center">please complete the registration process below</p><hr width="30%" />
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-10 offset-1">
                            <div class="card text-white bg-primary mb-3" style="">
                                <div class="card-header text-center"> Sponsor Form</div>

                            </div>
                            <hr />
                            <!-- Extended default form grid -->
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <!-- Grid row -->
                                <div class="form-row">
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Firstname" class="control-label"></label>
                                        <input asp-for="Firstname" class="form-control" value="@user.FirstName" readonly />
                                        <span asp-validation-for="Firstname" class="text-danger"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Lastname" class="control-label"></label>
                                        <input asp-for="Lastname" class="form-control" value="@user.LastName" readonly />
                                        <span asp-validation-for="Lastname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="FullName" class="control-label"></label>
                                        <input asp-for="FullName" class="form-control" value="@user.FullName"/>
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="CreatedOn" class="control-label"></label>
                                        <input asp-for="CreatedOn" class="form-control"  readonly/>
                                        <span asp-validation-for="CreatedOn" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="UserName" class="control-label"></label>
                                        <input asp-for="UserName" class="form-control" value="@user.UserName" readonly />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Occupation" class="control-label"></label>
                                        <input asp-for="Occupation" class="form-control" />
                                        <span asp-validation-for="Occupation" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Gender" class="control-label"></label>
                                        <select class="form-control" asp-for="Gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="SubscriptionType" class="control-label"></label>
                                        <select class="form-control" asp-for="Gender">
                                            <option>Premium</option>
                                            <option>Basic</option>
                                        </select>
                                        <span asp-validation-for="SubscriptionType" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Phonenumber" class="control-label"></label>
                                        <input asp-for="Phonenumber" class="form-control" value="@user.PhoneNumber" readonly />
                                        <span asp-validation-for="Phonenumber" class="text-danger"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Address" class="control-label"></label>
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" value="@user.Email" readonly />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6 light-blue">
                                        <span><i class="fas fa-cloud-upload-alt mr-2"></i></span>
                                        <label asp-for="ImageUrl" class="control-label"></label>

                                        <input asp-for="ImageUrl" class="form-control" type="file" value="Upload" />
                                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="Country" class="control-label"></label>
                                        <select class="form-control" asp-for="Country">
                                            <option>Nigeria</option>
                                            <option>Usa</option>
                                        </select>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label asp-for="State" class="control-label"></label>
                                        <select class="form-control" asp-for="State">
                                            <option>Lagos</option>
                                            <option>Ogun</option>
                                        </select>
                                        <span asp-validation-for="State" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Grid row -->

                                <div class="form-group text-center">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        }
        else
        {
            <h4 align="center">Please Kindly Sign In </h4>
        }


    </div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
