﻿@model ConnectCareApp.Models.Entity.ConnectCareSponsor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!-- Card -->
<!-- Card -->

<div class="col-md-12 text-center">

    <a asp-action="Info" asp-route-id="@Model.Id" class="btn btn-primary">List of Beneficiaries</a>
    <br /><br />
</div>
<div class="col-md-12 mb-4">


    <!--Card-->
    <div class="card">

        <!--Card content-->
        <div class="card-body">

            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>
                        <td class="dec"> @Html.DisplayNameFor(model => model.Firstname)</td>
                        <td class="dec"> @Html.DisplayFor(model => model.Firstname)</td>
                    </tr>
                    <tr>
                        <td class="dec">@Html.DisplayNameFor(model => model.Gender)</td>
                        <td class="dec"> @Html.DisplayFor(model => model.Gender)</td>
                    </tr>
                    <tr>
                        <td class="dec"> @Html.DisplayNameFor(model => model.Occupation)</td>
                        <td class="dec"> @Html.DisplayFor(model => model.Occupation)</td>
                    </tr>
                    <tr>
                        <td class="dec">  @Html.DisplayNameFor(model => model.Country)</td>
                        <td class="dec">  @Html.DisplayFor(model => model.Country)</td>
                    </tr>
                    <tr>
                        <td class="dec">  @Html.DisplayNameFor(model => model.State)</td>
                        <td class="dec">  @Html.DisplayFor(model => model.State)</td>
                    </tr>
                    <tr>
                        <td class="dec">@Html.DisplayNameFor(model => model.Address)</td>
                        <td class="dec">@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <td class="dec">@Html.DisplayNameFor(model => model.Email)</td>
                        <td class="dec">@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td class="dec"> @Html.DisplayNameFor(model => model.Phonenumber)</td>
                        <td class="dec"> @Html.DisplayFor(model => model.Phonenumber)</td>
                    </tr>



                </tbody>
            </table>

        </div>


    </div>
    <!--/.Card-->

</div>















