﻿
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var user = await UserManager.GetUserAsync(User);
}
<!--Grid column-->
    <div class="col-md-12 mb-4">
        <section class="pb-4">

            <!--Panel-->
            <div class="card text-center">
                <h3 class="card-header primary-color white-text">Connect Care Application</h3>
                <div class="card-body">
                    <p class="card-text">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <h4 align="center"><b>@user.FirstName</b>, Welcome to Connect-Care Novo App.</h4>
                        <p align="center">Brief information on how to use this web application</p><hr width="30%" />
                    }
                    else
                    {
                        <h4 align="center">Kindly Sign In </h4>
                    }
                        </p>

                    </div>
            </div>
            <!--/.Panel-->


        </section>
       
        <!--Card-->
        <!-- Card deck -->
       
        <!-- Card deck -->
        <div class="card">


            <!--Card content-->
            <div class="card-body">



                <!--Card image-->
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body card-body-cascade text-center">

                    <canvas id="pieChart" height="100px"></canvas>

                </div>
                <!--/.Card content-->




            </div>

        </div>
        <!--/.Card-->

    </div>
@section Scripts{
    <!-- Charts -->
    <script>
        // Line
        //pie
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                labels: ["Sponsor", "Beneficiary", "Paymentdata",],
                datasets: [{
                    data: [300, 200, 150],
                    backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
                    hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"]
                }]
            },
            options: {
                responsive: true
            }
        });

    </script>

}


