﻿@model IEnumerable<ConnectCareApp.Models.Entity.ConnectCareBeneficiary>

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}




<!-- Table with panel -->
<div class="card card-cascade narrower">

    <!--Card image-->
    <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

        <p>
            <a class=" btn btn-outline-primary">Create New</a>
        </p>

        <a href="#" class="white-text mx-3">List of Beneficiaries</a>

        
        <h4 class="text-info"></h4> 
        

    </div>
    <!--/Card image-->

    <div class="px-4">

        <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0 table-responsive">

                <!--Table head-->
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Fullname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Firstname)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Lastname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Phonenumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Relationship)
                        </th>

                      

                        <th>
                            @Html.DisplayNameFor(model => model.Lga)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SuggestedProvider)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SuggestedPlan)
                        </th>

                        <th>Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Phonenumber)
                        </td>
                        <td>
                            <img alt="nil" src="@Url.Content(item.ImageUrl)" width="120" height="70" class="rounded" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Relationship)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Lga)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SuggestedProvider)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SuggestedPlan)
                        </td>


                        <td>
                            <a asp-controller="ConnectCareBeneficiaries" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-indigo btn-sm m-0">Edit</a>

                        </td>
                    
                        <td>
                            <a asp-controller="ConnectCareBeneficiaries" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm m-0">Delete</a>
                        </td>
                    </tr>
                    }

                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

    </div>

</div>
<!-- Table with panel -->
