﻿
@{
    ViewData["Title"] = "NoRecords";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div class="col-md-12 mb-4">

        <br />
        <!--Card-->
       

            <!--Card content-->
         

        <div class="card card-cascade narrower">

            <!--Card image-->






            <div class="text-center">
                <a href="#" class="text-info mx-3">Please follow the link below to create a sponsor and a beneficiary, You don't have any !</a>
            </div>
            <div class="text-center">
                <p>
                    <a asp-action="Create" class=" btn btn-outline-primary text-center">Create New</a>
                </p>
            </div>

            <!--/Card image-->



        </div>

        


      
        <!--/.Card-->

    </div>