﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{ 
     var user = await UserManager.GetUserAsync(User);
}
    <div class="col-md-12 mb-4">


        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body">

                <table class="table table-bordered table-striped">

                    <tbody>
                        <tr>
                            <td class="dec"> First Name</td>
                            <td class="dec"> @user.FirstName</td>
                        </tr>
                        <tr>
                            <td class="dec"> Last Name</td>
                            <td class="dec"> @user.LastName</td>
                        </tr>
                        <tr>
                            <td class="dec">UserName</td>
                            <td class="dec"> @user.UserName</td>
                        </tr>
                        <tr>
                            <td class="dec"> Email</td>
                            <td class="dec"> @user.Email</td>
                        </tr>
                        <tr>
                            <td class="dec">  PhoneNumber</td>
                            <td class="dec">  @user.PhoneNumber</td>
                        </tr>

                    </tbody>
                </table>

            </div>


        </div>
        <!--/.Card-->

    </div>

