﻿@model ConnectCareApp.Models.Entity.ConnectCareBeneficiary

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <h2 style="color:red" class="text-center"> Are you sure you want to delete this Beneficiary ?</h2>
            </nav><br />
            
            <form method="post" enctype="multipart/form-data" asp-action="Delete">
                <div class="form-group">
                    <input asp-for="Firstname" class="form-control font-weight-bolder" readonly style="background-color: #b2beb5" />
                </div>

                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Delete</button>
                    <a asp-controller="connectcaresponsors"  asp-action="info" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

<br />
<br />
<br />
