﻿@model ConnectCareApp.Models.Entity.ConnectCareBeneficiary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConnectCareBeneficiary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sponsorid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sponsorid)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryCat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lga)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuardianPhonenumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuardianPhonenumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuardianEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuardianEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuggestedProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuggestedProvider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuggestedPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuggestedPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Addon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Addon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Administeredby)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Administeredby)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdministrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdministrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sponsoridstring)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sponsoridstring)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConnectCareSponsor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConnectCareSponsor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
