﻿@model ConnectCareApp.ViewModel.BeneficiaryEditVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-md-12 mb-4">

    <div id="field">
        <div id="field0">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10 offset-1">
                            <div class="card text-white bg-primary mb-3" style="">
                                <div class="card-header text-center"> Beneficiary Edit Form</div>

                            </div>
                            <hr />
                            <!-- Extended default form grid -->
                            <form asp-action="Edit" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <!-- Grid row -->
                                <div class="">
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Firstname" class="control-label"></label>
                                            <input asp-for="Firstname" class="form-control" />
                                            <span asp-validation-for="Firstname" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Lastname" class="control-label"></label>
                                            <input asp-for="Lastname" class="form-control" />
                                            <span asp-validation-for="Lastname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="UserName" class="control-label"></label>
                                            <input asp-for="UserName" class="form-control" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Address" class="control-label"></label>
                                            <input asp-for="Address" class="form-control" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="PolicyNumber" class="control-label"></label>
                                            <input asp-for="PolicyNumber" class="form-control" />
                                            <span asp-validation-for="PolicyNumber" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Relationship" class="control-label"></label>
                                            <input asp-for="Relationship" class="form-control" />
                                            <span asp-validation-for="Relationship" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Gender" class="control-label"></label>
                                            <select class="form-control" asp-for="Gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Category" class="control-label"></label>
                                            <select class="form-control" asp-for="Category">
                                                <option>Premium</option>
                                                <option>Basic</option>
                                            </select>
                                            <span asp-validation-for="Category" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Phonenumber" class="control-label"></label>
                                            <input asp-for="Phonenumber" class="form-control" />
                                            <span asp-validation-for="Phonenumber" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Lga" class="control-label"></label>
                                            <input asp-for="Lga" class="form-control" />
                                            <span asp-validation-for="Lga" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6 light-blue">
                                            <span><i class="fas fa-cloud-upload-alt mr-2"></i></span>
                                            <label asp-for="ImageUrl" class="control-label"></label>

                                            <input asp-for="ImageUrl" class="form-control" type="file" value="Upload" />
                                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Country" class="control-label"></label>
                                            <select class="form-control" asp-for="Country">
                                                <option>Nigeria</option>
                                                <option>Usa</option>
                                            </select>
                                            <span asp-validation-for="Country" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="State" class="control-label"></label>
                                            <select class="form-control" asp-for="State">
                                                <option>Lagos</option>
                                                <option>Ogun</option>
                                            </select>
                                            <span asp-validation-for="State" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="SuggestedPlan" class="control-label"></label>
                                            <select class="form-control" asp-for="SuggestedPlan">
                                                <option>singe</option>
                                                <option>Usa</option>
                                            </select>
                                            <span asp-validation-for="SuggestedPlan" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="SuggestedProvider" class="control-label"></label>
                                            <select class="form-control" asp-for="SuggestedProvider">
                                                <option>Lag</option>
                                                <option>Ogu</option>
                                            </select>
                                            <span asp-validation-for="SuggestedProvider" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="ConnectCareSponsorId" class="control-label"></label>
                                            <select asp-for="ConnectCareSponsorId" class="form-control" asp-items="ViewBag.ConnectCareSponsorId"></select>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="CreatedOn" class="control-label"></label>
                                            <input asp-for="CreatedOn" class="form-control" readonly />
                                            <span asp-validation-for="CreatedOn" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Dob" class="control-label"></label>
                                            <input asp-for="Dob" class="form-control" />
                                            <span asp-validation-for="Dob" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="Age" class="control-label"></label>
                                            <input asp-for="Age" class="form-control" min="0" />
                                            <span asp-validation-for="Age" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="GuardianEmail" class="control-label"></label>
                                            <input asp-for="GuardianEmail" class="form-control" />
                                            <span asp-validation-for="GuardianEmail" class="text-danger"></span>
                                        </div>
                                        <!-- Default input -->
                                        <div class="form-group col-md-6">
                                            <label asp-for="GuardianPhonenumber" class="control-label"></label>
                                            <input asp-for="GuardianPhonenumber" class="form-control" />
                                            <span asp-validation-for="GuardianPhonenumber" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <!-- Grid row -->

                                    <div class="form-group text-center">
                                        <input type="submit" value="Update" class="btn btn-primary" />

                                    </div>
                                </div>
                            </form>
                          

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
