﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ConnectCare Dashboard</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Material Design Bootstrap -->

    <link href="~/css/mdb.min.css" rel="stylesheet" />

    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet" />

    <!-- DataTables.net -->
    @*<link href="~/css/addons/datatables.min.css" rel="stylesheet" />*@
    @RenderSection("styles", required: false)

    <style>

        .map-container {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

            .map-container iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }

        .dec {
            font-weight: bolder;
        }
    </style>
</head>

<body class="grey lighten-3">

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="~/ConnectCareSponsors/Index">
                    <strong class="blue-text">ConnectCare</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="~/ConnectCareSponsors/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="~/ConnectCareSponsors/Profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="~/ConnectCareSponsors/Info">List of Beneficiary</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link waves-effect" asp-action="Index" asp-controller="Admin">Admin</a>
                            </li>
                        }


                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="~/Supports/Create"><i class="far fa-comments"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
                        </li>
                        <li class="nav-item dropdown notifications-nav">
                            <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="badge red">3</span> <i class="fas fa-bell"></i>
                                <span class="d-none d-md-inline-block">Notifications</span>
                            </a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-money mr-2" aria-hidden="true"></i>
                                    <span>Emails</span>
                                    <span class="float-right"><i class="far  fa-clock" aria-hidden="true"></i> 13 min</span>
                                </a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <partial name="_LoginPartial" />
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <br>
            <!-- <a class="logo-wrapper waves-effect">
              <img src="#" class="img-fluid" alt="">
              logo here
            </a> -->

            <div class="list-group list-group-flush">
                <a href="~/ConnectCareSponsors/Index" class="list-group-item active waves-effect">
                    <i class="fas fa-chart-pie mr-3"></i>Dashboard
                </a>
                @*<a href="~/ConnectCareSponsors/Create" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-users mr-3"></i>Sponsors
                </a>*@
                <a href="~/ConnectCareBeneficiaries/Create" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-users mr-3"></i>Beneficiaries
                </a>

                <a href="~/ConnectCareSponsors/Profile" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-book mr-3"></i>My Profile
                </a>

                <a href="~/ConnectCareSponsors/Info" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-book mr-3"></i>List of Beneficiaries
                </a>
                <a href="~/Supports/Create" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-calendar-alt mr-3"></i> Support
                </a>
                <a href="~/ConnectCarePaymentDatas" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-credit-card mr-3"></i>Payment Data
                </a>

                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-clock mr-3"></i>Start / End Date
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="far fa-credit-card mr-3"></i>Access to Care
                </a>


            </div>

        </div>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <!-- Heading -->
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                @RenderBody()

                <!--Grid column-->
                <!--Grid column-->
                <!--Grid column-->


            </div>
            <!--Grid row-->
            <!--Grid row-->
            <!--Grid row-->

        </div>
        <br />
        <br />
        <br />
        <div class="footer-copyright py-3 text-center">
            © 2020 Copyright:
            <a href="#" target="_blank"> Novo</a>
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <!--Call to action-->
    <!--/.Call to action-->
    @*<hr class="my-4">*@
    <div class="content-panel border rounded">


        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5b50c2b8e21878736ba22390/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>

    </div>
    <!-- Social icons -->
    <!-- Social icons -->
    <!--Copyright-->
    
    <!--/.Copyright-->
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script src="~/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script src="~/js/mdb.min.js"></script>

    <!-- DataTables.net -->
    @*<script src="~/js/addons/datatables.min.js"></script>*@

    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>
    @RenderSection("Scripts", required: false)
    <!-- Charts -->
    @*<script>
        // Line
          //pie
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
          type: 'pie',
          data: {
            labels: ["Sponsor", "Beneficiary", "Paymentdata",],
            datasets: [{
              data: [300, 200, 150],
              backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
              hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"]
            }]
          },
          options: {
            responsive: true
          }
        });

        </script>*@

    <!--Google Maps-->


</body>

</html>
