﻿@page
@using ConnectCareApp.Models.Entity
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br />
<br />

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <img src="~/img/logo.png" width="200" height="100">
            <h4 class="text-center">Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
           

            @if (User.IsInRole(SD.Admin))
            {
                <div class="form-group row">
                    <div class="col-2">
                    </div>
                    <div class="col-5">
                        <input type="radio" name="rdUserRole" value="@SD.Beneficiary" checked /> @SD.Beneficiary
                        <input type="radio" name="rdUserRole" value="@SD.Admin" checked /> @SD.Admin
                        <input type="radio" name="rdUserRole" value="@SD.Sponsor" checked /> @SD.Sponsor
                    </div>
                </div>
            }

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
