﻿@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<br />
<br />
<div class="col-md-12 mb-4">
    <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <!--Card content-->
            <div class="card-body">
                <div class="card text-white bg-secondary mb-3" style="">
                    <div class="card-header text-center"><h4>No of Sponsors</h4></div>

                </div>
                <!--Title-->
                <!--Text-->
                <p class="card-text text-center">@ViewBag.Sponsor</p>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


            </div>

        </div>
        <!-- Card -->
        <!-- Card -->
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <!--Card content-->
            <div class="card-body">
                <div class="card text-white bg-secondary mb-3" style="">
                    <div class="card-header text-center"><h4>No of Beneficiaries</h4></div>

                </div>
                <!--Title-->
                <!--Text-->
                <p class="card-text text-center">@ViewBag.Beneficiary</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>

        </div>
        <!-- Card -->

    </div>
    <div class="card card-cascade narrower">

        <h6 class="card-header text-center text-info">List of User's</h6>
        <hr />
        <!--Card image-->
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <p>
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Sponsor Registration</a>
            </p>


            <h6 class="text-info"></h6>


        </div>
        <!--/Card image-->

        <div class="px-4 ">

            <div class="table-wrapper">
                <!--Table-->
                @if (Model.Count() > 0)
                {
                    <table class="table table-hover mb-0 table-responsive">
                        <thead>
                            <tr class="table-secondary">
                                <th>
                                    @Html.DisplayNameFor(m => m.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(m => m.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(m => m.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(m => m.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(m => m.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(m => m.UserName)
                                </th>
                                <th>
                                    Actions
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.UserName)
                                    </td>

                                    <td>

                                        @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                        {
                                            <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
                                                <i class="fas fa-lock-open"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger text-white" asp-action="UnLock" asp-route-id="@item.Id">
                                                <i class="fas fa-lock"></i>
                                            </a>
                                        }
                                    </td>
                                    <td></td>

                                </tr>
                            }
                        </tbody>

                    </table>
                }

                else
                {
                    <p>No User exists yet...</p>
                }
                <!--Table-->
            </div>

        </div>

    </div>
</div>

<br />
<br />
<br />


